@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
    @apply dark:bg-zinc-900 dark:text-white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  *,
  *::before,
  *::after {
    scrollbar-width: thin;
  }

  input,
  select,
  textarea {
    @apply text-black;
    @apply focus:ring-0 !important;
  }
  input[type='checkbox']:checked {
    @apply bg-secondaryColor;
  }

  h1 {
    @apply text-2xl font-bold dark:text-zinc-200 py-1 mb-2;
  }
  h2 {
    @apply text-lg font-bold dark:text-zinc-400 py-1;
  }
  h3 {
    @apply text-base font-bold;
  }

  table {
    @apply w-full bg-zinc-100 dark:bg-zinc-800 dark:text-white;
  }

  table thead tr {
    @apply bg-zinc-500 dark:bg-zinc-600 text-white;
  }

  table thead th {
    @apply px-4 p-2 text-left;
  }

  table tbody td {
    @apply px-4 p-2 align-top;
  }

  table tbody tr {
    @apply border-b border-zinc-300 dark:border-zinc-600 last:border-b-0;
  }

  header,
  footer {
    @apply p-2;
    @apply bg-zinc-800 text-white;
    @apply dark:bg-zinc-800 dark:text-white;
  }
  header {
    @apply p-4 pl-8;
  }
}

@layer components {
  .appearance-none {
    appearance: textfield !important;
  }
}

.main-app {
  @apply container mx-auto;
}

.button {
  @apply rounded-lg;
  @apply p-2.5;
}
.button.primary {
  @apply bg-secondaryColor text-white;
}

.img-and-text {
  @apply flex items-center gap-2;
}
